@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.container{
    max-width: 80%;
    margin: auto;

}
.bar{
    background-color: #006341;
    width: 168px;
    height: 22px;
}
h1{  
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
}
h2{  
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin: 20px 0;
}
.button{
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 40px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}
.button:hover{
    color: #fff;
    background-color: #454545;
}
header .line{
    background-color: #117050;
    height: 10px;
}
.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header--left img{
    width: 64px;
    height: 64px;
}
.header--right{
    display: flex;
    align-items: center;
}
.header--search form{
    display: flex;
}
.header--search input{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}
.header--search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}
.header--search button img{
    height: 16px;
    width: 16px;
}
.header--menu{
    margin-left: 50px;
    cursor: pointer;
}
.header--menu img{
    height: 24px;
    width: 24px;
}
.banner{
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.banner--images{
    margin-top: 60px;
}
.banner--images img{
    height: 148px;
    width: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;

}
.area1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.area1--content{
    padding: 80px;
}
.area1--quote{
    margin-bottom: 30px;
}
.area1--text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area1--img1{
    height: 350px;
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}
.area1--img2{
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}
.area2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.area2--content{
    padding: 80px;
}
.area2--text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area2--img1{
    height: 450px;
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
}
.area2--img2{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
}
.area3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.area3--content{
    padding: 200px 80px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: left;
}
.area3--text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area3--img1{
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}
.area4{
    display: grid;
    grid-template-columns: 450px 1fr;
}
.area4--content{
    padding: 150px 80px;
    background-color: #e8e9ee;
}
.area4--text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area4--img1{
    background-image: url('../images/bg3.jpg');
    background-position: left;
}
.area5{
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 80px;
    text-align: center;
}
@media (min-width:769px) and (max-width:1140px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width:426px) and (max-width:768px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .area1{
        grid-template-columns: 3fr 2fr;
    }
    .area2{
        grid-template-columns: 2fr 3fr;
    }
    .area3{
        grid-template-columns: 3fr 2fr;
    }
}
@media (max-width:425px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    h1{
        font-size: 50px;
        line-height: 40px;
    }
    h2{
        font-size: 25px;
        line-height: 30px;
    }
    .header--search input{
        max-width: 80px;
    }
    .header--menu{
        margin-left: 20px;
    }
    .banner--images img{
        height: 70px;
        width: 70px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }
    .area1, .area2, .area3, .area4{
        grid-template-columns: 1fr;
    }
    .area1 content, .area2 content, .area3 content, .area4 content{
        padding: 40px;
    }
    .area5{
        height: 200px;
    }
    footer{
        font-size: 12px;
        padding: 40px 20px;
    }
}